* {
    box-sizing: border-box;
}

body {
    background: #96d3f0;
    transition: background-color 1s;
}



.container {
    background: #32315b;
    height: 90vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 0;
    align-items: center;
}

.nav {
    color: aliceblue;
    font-size: xx-large;
}

.themeAndName{
    display: flex;
    align-items: center;
    justify-content: end;
}



.name {
    color: aliceblue;
    font-size: xx-large;
    margin: 10px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: end;
}

.icons{
    position: relative;
}

.dark,.light{
    width: fit-content;
    height: fit-content;
}

.light{
    color: white;
    font-size: x-large;
}
.dark{
    position: absolute;
    font-size: x-large;
    inset: 0;
}


hr {
    box-shadow: #292850;
}

/*input styling*/

input {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    position: relative;
    background: #292850;
    border: none;
    color: white;
    font-size: large;
    margin-left: 10px;
    padding-left: 10px;
}


::placeholder {
    color: aliceblue;
    opacity: 0.5;
}
.input {
    display: flex;
    align-items: center;
    justify-content: end;
}

.add {
    position: absolute;
    justify-content: end;
    margin-right: 20px;
    font-size: xx-large;
    color: #457db1;
}

/*To do items styling*/
h1 {
    font-size: large;
    font-weight: bold;
    color: #7c7ba1;
}

.listItems{
    height: 40vh;
}

.list {
    height:20vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: blue, white;
}

#completeTasks{
    height: 40vh;
    overflow:auto;
}
#toDoItems {
    margin-bottom: 0;
    padding-left: 0;
    overflow: auto;
    height:auto;
}

.item {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #44446a;
    border-radius: 5px;
    height: 35px;
    margin: 10px;
    font-size: larger;
    color: aliceblue;
}

.item i {
    margin: 10px;
}

.lineThrough {
    text-decoration: line-through;
    color: antiquewhite;
}

.check {
    color: #6eb200;
}

p {
    margin: auto;
    text-align: center;
    color: aliceblue;
    font-size: larger;
}


/* themes css styling */

.lightBackground{
    background: #f2f2f2;
}

.nameColor{
    color:#292850;
}

.inputBackground{
    background: #b8c3cb;
    color: #292850;
    outline: none;
}

.itemColor{
    color:#44446a;
    background:#ECF1F5;
}

.navColor{
    color: #292850;
}

.dark-logo{
    opacity: 0;
    transform: translateY(0%)rotateZ('50deg');
    transition: all 1s ease-out;
}

.light-logo{
    opacity: 1;
    transform: translateY(0)rotateZ('0deg');
    transition: all 1s ease-out;

}

.animate-light{
    opacity: 0;
    transform: translateY(0%)rotateZ('100deg');
}

.animate-dark{
    opacity: 1;
    transform: translateY(0)rotateZ('0deg');
}

.animate-dark path{
    fill: white;
}

.animate-light path{
    fill: white;
}